body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

p {
    display: flex;
    padding: 20px;
    background-color: black;
    color: white;
}





/* ----------------Cursor---------------- */
#cursor {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 10px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 1;

}
  